/* HOVERS*/
.Red {
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.6);
}
.Yellow {
    box-shadow: 0 0 10px 10px rgba(255, 255, 0, 0.6);
}
.winHover{
    box-shadow: 0 0 10px 10px rgba(0, 255, 0, 0.6);
}

body{
    text-align: center;
    background-image: url(imgs/connect4BG.jpg);
    background-size: cover;
}
/*LEFT SIDE*/
#score{ /* score */
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 30px;
    border-radius: 10px;
    color: white;
}

h1{ /* player turn */
    position: absolute;
    top:150px;
    left: 30px;
    border-radius: 10px;
    color: white;
}

/*------------------- */
#board{
    height: 540px;
    width: 630px;
    background: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tiles{
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 50%;
    background: white;
    border: 5px solid navy;
    cursor: pointer;
    
}
.red-piece{
    background-color: red;
}
.yellow-piece{
    background-color: yellow;
}
/* RIGHT SIDE*/
#reset{ /* Play again */
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100px;
}
#redo{
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 33%;
    right: 100px;
}
/* OPTIONS MENU */
#optionsButton{
    position: absolute;
    top: calc(50% - 50px);
    right: 100px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
} #optionsButton:hover ,#reset:hover, #redo:hover{ /* hovers */
    cursor: pointer;
    box-shadow:  0px 0px 5px 10px rgba(0,0,0,0.5);}
#optionsMenu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    z-index: 2;
    border: 4px solid;
}
#cross{
    position: absolute;
    right: 10px;
    top: 4px;
    width: 5px;
    height: 5px;
    cursor: pointer;
}

#optionsMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: navy;
    background-color: #fff;
    font-size: 14px;
}
#names{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
#red ,#yel{
    border: 1px solid;
    padding: 2px;
    margin-bottom: 2px;
}
